# Arduino Sketch files
*.pde

# Arduino build folder
/build/

# Arduino libraries
/libraries/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Linux specific files
*~

# Compiled object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.exe

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.tmp
*.temp

.vscode